[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==3.4.2.17"
numpy = "*"
uncertainties = "*"
cython = "*"
scikit-image = "*"
plotly = "*"
jupyter = "*"
line-profiler = "*"
memory-profiler = "*"
dash = "==0.26.3"

[dev-packages]
matplotlib = "*"
memory-profiler = "*"
jupyter = "*"
pylint = "*"
dash-renderer = "==0.13.2"
dash-html-components = "==0.11.0"
dash-core-components = "==0.28.1"

[requires]
python_version = "3.5.2"
